[submodule "third_party/bgfx.cmake"]
	path = third_party/bgfx.cmake
	url = https://github.com/bkaradzic/bgfx.cmake
[submodule "third_party/zstd"]
	path = third_party/zstd
	url = https://github.com/facebook/zstd
[submodule "third_party/cxxopts"]
	path = third_party/cxxopts
	url = https://github.com/jarro2783/cxxopts
